*
{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*::before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus, :active {outline: none;}
a :focus, a :active{outline: none;}
nav,footer,header,aside{display: block;}

html,body{
height:100%;
width: 100%;
font-size: 100%;
line-height: 1; 
font-size: 14px;
-ms-text-size-adjust: 100%;
-moz-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}

input, button,textarea{font-family: inherit;}

input ::-ms-clear{display: none;}
button{cursor: pointer;}
button ::-moz-focus-inner{ padding: 0; border: 0;}
a, a :visited{te–∑t-decoration: none;}
a :hover{ text-decoration:none;}
ul li{list-style: none;}
img{vertical-align: none;}

h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight:400;}

body{
    background-color: #e8e8e8;
   background: url(../img//Ellipse\ 1\ copy.png) center no-repeat;
}
.content{
    padding: 168px 0 137px 0;
max-width: 841px;
    margin: 0px auto;
   
}

.content-top{
    text-align: center;
    margin: 0 0 65px 0;
}
.content-top__category{
    opacity: 0.6;
    color: #273d46;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    margin: 0 0 20px 0;
}
.content-top__title{
    color: #273d46;
    font-size: 36px;
 line: height 50px;
}

.content-image{
    box-shadow: 0 15px 65px rgba(15,16,16,0.15);
    background-color: #fff;
    padding: 10px;
    margin: 0 0 85px 0;
}
.content-image img{
    max-width: 100%;
}

.content-bottom{}

.content-bottom__text{
    opacity: 0,8;
    color: #273d46;
    font-size: 24px;
    line-height: 40px;
    margin: 0 0 43px 0 ;
}
.content-bottom__text p{
margin: 0 0 48px 0;
}


.content-bottom-info{}
.content-bottom-info-list{
    margin: 0 0 59px 0;
}

.content-bottom-info-list li{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    margin: 0 0 12px 0;
background: url(../img/check\ icon.png)left no-repeat;
padding: 0 0 0 36px;

}
.content-bottom-info-list li :last-child{
 margin:0;
}
.content-bottom-info-list li:nth-child(1){
color:#273d46;
font-weight: normal;
}
.content-bottom-info-list li:nth-child(2){
color:#80b7b3;
font-style: italic;
}
.content-bottom-info-list li:nth-child(3){
color:#273d46;
font-weight: 700; 
}
.content-bottom-info-list li:nth-child(4){
    text-decoration: line-through;
    color:#273d46;
}
.content-bottom-info-list li:nth-child(4) span{
    opacity: 0.3; 
}


.content-bottom-info__link{
    height: 44px;
    display: inline-block;
    line-height: 44px;
    border-radius: 30px;
    padding: 0 30px;
    background-color: #80b7b3;
    box-shadow: 0 6px 40px rgba(128, 183 179,0.54);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.8px;
}   
.content-bottom-info__link span {
    padding:0 0px 0 0;

}